@font-face {
  font-family: 'elusive';
  src: url('elusive.eot?45363950');
  src: url('elusive.eot?45363950#iefix') format('embedded-opentype'),
       url('elusive.woff?45363950') format('woff'),
       url('elusive.ttf?45363950') format('truetype'),
       url('elusive.svg?45363950#elusive') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-elusive-']:before,
[class*=' icon-elusive-']:before {
    font-family: 'elusive';
}

.icon-elusive-glass:before { content: '\e800'; } /* 'î €' */
.icon-elusive-youtube:before { content: '\e90e'; } /* 'î¤Ž' */
.icon-elusive-search:before { content: '\e802'; } /* 'î ‚' */
.icon-elusive-search-circled:before { content: '\e803'; } /* 'î ƒ' */
.icon-elusive-mail:before { content: '\e804'; } /* 'î „' */
.icon-elusive-mail-circled:before { content: '\e805'; } /* 'î …' */
.icon-elusive-heart:before { content: '\e806'; } /* 'î †' */
.icon-elusive-heart-circled:before { content: '\e807'; } /* 'î ‡' */
.icon-elusive-heart-empty:before { content: '\e808'; } /* 'î ˆ' */
.icon-elusive-star:before { content: '\e809'; } /* 'î ‰' */
.icon-elusive-star-circled:before { content: '\e80a'; } /* 'î Š' */
.icon-elusive-star-empty:before { content: '\e80b'; } /* 'î ‹' */
.icon-elusive-user:before { content: '\e80c'; } /* 'î Œ' */
.icon-elusive-group:before { content: '\e80d'; } /* 'î ' */
.icon-elusive-group-circled:before { content: '\e80e'; } /* 'î Ž' */
.icon-elusive-torso:before { content: '\e80f'; } /* 'î ' */
.icon-elusive-video:before { content: '\e810'; } /* 'î ' */
.icon-elusive-video-circled:before { content: '\e811'; } /* 'î ‘' */
.icon-elusive-video-alt:before { content: '\e812'; } /* 'î ’' */
.icon-elusive-videocam:before { content: '\e813'; } /* 'î “' */
.icon-elusive-video-chat:before { content: '\e814'; } /* 'î ”' */
.icon-elusive-picture:before { content: '\e815'; } /* 'î •' */
.icon-elusive-camera:before { content: '\e816'; } /* 'î –' */
.icon-elusive-photo:before { content: '\e817'; } /* 'î —' */
.icon-elusive-photo-circled:before { content: '\e818'; } /* 'î ˜' */
.icon-elusive-th-large:before { content: '\e819'; } /* 'î ™' */
.icon-elusive-th:before { content: '\e81a'; } /* 'î š' */
.icon-elusive-th-list:before { content: '\e81b'; } /* 'î ›' */
.icon-elusive-view-mode:before { content: '\e81c'; } /* 'î œ' */
.icon-elusive-ok:before { content: '\e81d'; } /* 'î ' */
.icon-elusive-ok-circled:before { content: '\e81e'; } /* 'î ž' */
.icon-elusive-ok-circled2:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-elusive-cancel:before { content: '\e820'; } /* 'î  ' */
.icon-elusive-cancel-circled:before { content: '\e821'; } /* 'î ¡' */
.icon-elusive-cancel-circled2:before { content: '\e822'; } /* 'î ¢' */
.icon-elusive-plus:before { content: '\e823'; } /* 'î £' */
.icon-elusive-plus-circled:before { content: '\e824'; } /* 'î ¤' */
.icon-elusive-minus:before { content: '\e825'; } /* 'î ¥' */
.icon-elusive-minus-circled:before { content: '\e826'; } /* 'î ¦' */
.icon-elusive-help:before { content: '\e827'; } /* 'î §' */
.icon-elusive-help-circled:before { content: '\e828'; } /* 'î ¨' */
.icon-elusive-info-circled:before { content: '\e829'; } /* 'î ©' */
.icon-elusive-home:before { content: '\e82a'; } /* 'î ª' */
.icon-elusive-home-circled:before { content: '\e82b'; } /* 'î «' */
.icon-elusive-website:before { content: '\e82c'; } /* 'î ¬' */
.icon-elusive-website-circled:before { content: '\e82d'; } /* 'î ­' */
.icon-elusive-attach:before { content: '\e82e'; } /* 'î ®' */
.icon-elusive-attach-circled:before { content: '\e82f'; } /* 'î ¯' */
.icon-elusive-lock:before { content: '\e830'; } /* 'î °' */
.icon-elusive-lock-circled:before { content: '\e831'; } /* 'î ±' */
.icon-elusive-lock-open:before { content: '\e832'; } /* 'î ²' */
.icon-elusive-lock-open-alt:before { content: '\e833'; } /* 'î ³' */
.icon-elusive-eye:before { content: '\e834'; } /* 'î ´' */
.icon-elusive-eye-off:before { content: '\e835'; } /* 'î µ' */
.icon-elusive-tag:before { content: '\e836'; } /* 'î ¶' */
.icon-elusive-tags:before { content: '\e837'; } /* 'î ·' */
.icon-elusive-bookmark:before { content: '\e838'; } /* 'î ¸' */
.icon-elusive-bookmark-empty:before { content: '\e839'; } /* 'î ¹' */
.icon-elusive-flag:before { content: '\e83a'; } /* 'î º' */
.icon-elusive-flag-circled:before { content: '\e83b'; } /* 'î »' */
.icon-elusive-thumbs-up:before { content: '\e83c'; } /* 'î ¼' */
.icon-elusive-thumbs-down:before { content: '\e83d'; } /* 'î ½' */
.icon-elusive-download:before { content: '\e83e'; } /* 'î ¾' */
.icon-elusive-download-alt:before { content: '\e83f'; } /* 'î ¿' */
.icon-elusive-upload:before { content: '\e840'; } /* 'î¡€' */
.icon-elusive-share:before { content: '\e841'; } /* 'î¡' */
.icon-elusive-quote:before { content: '\e842'; } /* 'î¡‚' */
.icon-elusive-quote-circled:before { content: '\e843'; } /* 'î¡ƒ' */
.icon-elusive-export:before { content: '\e844'; } /* 'î¡„' */
.icon-elusive-pencil:before { content: '\e845'; } /* 'î¡…' */
.icon-elusive-pencil-circled:before { content: '\e846'; } /* 'î¡†' */
.icon-elusive-edit:before { content: '\e847'; } /* 'î¡‡' */
.icon-elusive-edit-circled:before { content: '\e848'; } /* 'î¡ˆ' */
.icon-elusive-edit-alt:before { content: '\e849'; } /* 'î¡‰' */
.icon-elusive-print:before { content: '\e84a'; } /* 'î¡Š' */
.icon-elusive-retweet:before { content: '\e84b'; } /* 'î¡‹' */
.icon-elusive-comment:before { content: '\e84c'; } /* 'î¡Œ' */
.icon-elusive-comment-alt:before { content: '\e84d'; } /* 'î¡' */
.icon-elusive-bell:before { content: '\e84e'; } /* 'î¡Ž' */
.icon-elusive-warning:before { content: '\e84f'; } /* 'î¡' */
.icon-elusive-exclamation:before { content: '\e850'; } /* 'î¡' */
.icon-elusive-error:before { content: '\e851'; } /* 'î¡‘' */
.icon-elusive-error-alt:before { content: '\e852'; } /* 'î¡’' */
.icon-elusive-location:before { content: '\e853'; } /* 'î¡“' */
.icon-elusive-location-circled:before { content: '\e854'; } /* 'î¡”' */
.icon-elusive-compass:before { content: '\e855'; } /* 'î¡•' */
.icon-elusive-compass-circled:before { content: '\e856'; } /* 'î¡–' */
.icon-elusive-trash:before { content: '\e857'; } /* 'î¡—' */
.icon-elusive-trash-circled:before { content: '\e858'; } /* 'î¡˜' */
.icon-elusive-doc:before { content: '\e859'; } /* 'î¡™' */
.icon-elusive-doc-circled:before { content: '\e85a'; } /* 'î¡š' */
.icon-elusive-doc-new:before { content: '\e85b'; } /* 'î¡›' */
.icon-elusive-doc-new-circled:before { content: '\e85c'; } /* 'î¡œ' */
.icon-elusive-folder:before { content: '\e85d'; } /* 'î¡' */
.icon-elusive-folder-circled:before { content: '\e85e'; } /* 'î¡ž' */
.icon-elusive-folder-close:before { content: '\e85f'; } /* 'î¡Ÿ' */
.icon-elusive-folder-open:before { content: '\e860'; } /* 'î¡ ' */
.icon-elusive-rss:before { content: '\e861'; } /* 'î¡¡' */
.icon-elusive-phone:before { content: '\e862'; } /* 'î¡¢' */
.icon-elusive-phone-circled:before { content: '\e863'; } /* 'î¡£' */
.icon-elusive-cog:before { content: '\e864'; } /* 'î¡¤' */
.icon-elusive-cog-circled:before { content: '\e865'; } /* 'î¡¥' */
.icon-elusive-cogs:before { content: '\e866'; } /* 'î¡¦' */
.icon-elusive-wrench:before { content: '\e867'; } /* 'î¡§' */
.icon-elusive-wrench-circled:before { content: '\e868'; } /* 'î¡¨' */
.icon-elusive-basket:before { content: '\e869'; } /* 'î¡©' */
.icon-elusive-basket-circled:before { content: '\e86a'; } /* 'î¡ª' */
.icon-elusive-calendar:before { content: '\e86b'; } /* 'î¡«' */
.icon-elusive-calendar-circled:before { content: '\e86c'; } /* 'î¡¬' */
.icon-elusive-mic:before { content: '\e86d'; } /* 'î¡­' */
.icon-elusive-mic-circled:before { content: '\e86e'; } /* 'î¡®' */
.icon-elusive-volume-off:before { content: '\e86f'; } /* 'î¡¯' */
.icon-elusive-volume-down:before { content: '\e870'; } /* 'î¡°' */
.icon-elusive-volume:before { content: '\e871'; } /* 'î¡±' */
.icon-elusive-volume-up:before { content: '\e872'; } /* 'î¡²' */
.icon-elusive-headphones:before { content: '\e873'; } /* 'î¡³' */
.icon-elusive-clock:before { content: '\e874'; } /* 'î¡´' */
.icon-elusive-clock-circled:before { content: '\e875'; } /* 'î¡µ' */
.icon-elusive-lightbulb:before { content: '\e876'; } /* 'î¡¶' */
.icon-elusive-lightbulb-alt:before { content: '\e877'; } /* 'î¡·' */
.icon-elusive-block:before { content: '\e878'; } /* 'î¡¸' */
.icon-elusive-resize-full:before { content: '\e879'; } /* 'î¡¹' */
.icon-elusive-resize-full-alt:before { content: '\e87a'; } /* 'î¡º' */
.icon-elusive-resize-small:before { content: '\e87b'; } /* 'î¡»' */
.icon-elusive-resize-vertical:before { content: '\e87c'; } /* 'î¡¼' */
.icon-elusive-resize-horizontal:before { content: '\e87d'; } /* 'î¡½' */
.icon-elusive-move:before { content: '\e87e'; } /* 'î¡¾' */
.icon-elusive-zoom-in:before { content: '\e87f'; } /* 'î¡¿' */
.icon-elusive-zoom-out:before { content: '\e880'; } /* 'î¢€' */
.icon-elusive-down-open:before { content: '\e881'; } /* 'î¢' */
.icon-elusive-left-open:before { content: '\e882'; } /* 'î¢‚' */
.icon-elusive-right-open:before { content: '\e883'; } /* 'î¢ƒ' */
.icon-elusive-up-open:before { content: '\e884'; } /* 'î¢„' */
.icon-elusive-down:before { content: '\e885'; } /* 'î¢…' */
.icon-elusive-left:before { content: '\e886'; } /* 'î¢†' */
.icon-elusive-music:before { content: '\e801'; } /* 'î ' */
.icon-elusive-up:before { content: '\e888'; } /* 'î¢ˆ' */
.icon-elusive-down-circled:before { content: '\e889'; } /* 'î¢‰' */
.icon-elusive-left-circled:before { content: '\e88a'; } /* 'î¢Š' */
.icon-elusive-right-circled:before { content: '\e88b'; } /* 'î¢‹' */
.icon-elusive-up-circled:before { content: '\e88c'; } /* 'î¢Œ' */
.icon-elusive-down-hand:before { content: '\e88d'; } /* 'î¢' */
.icon-elusive-left-hand:before { content: '\e88e'; } /* 'î¢Ž' */
.icon-elusive-right-hand:before { content: '\e88f'; } /* 'î¢' */
.icon-elusive-up-hand:before { content: '\e890'; } /* 'î¢' */
.icon-elusive-cw:before { content: '\e891'; } /* 'î¢‘' */
.icon-elusive-cw-circled:before { content: '\e892'; } /* 'î¢’' */
.icon-elusive-arrows-cw:before { content: '\e893'; } /* 'î¢“' */
.icon-elusive-shuffle:before { content: '\e894'; } /* 'î¢”' */
.icon-elusive-play:before { content: '\e895'; } /* 'î¢•' */
.icon-elusive-play-circled:before { content: '\e896'; } /* 'î¢–' */
.icon-elusive-play-circled2:before { content: '\e897'; } /* 'î¢—' */
.icon-elusive-stop:before { content: '\e898'; } /* 'î¢˜' */
.icon-elusive-stop-circled:before { content: '\e899'; } /* 'î¢™' */
.icon-elusive-pause:before { content: '\e89a'; } /* 'î¢š' */
.icon-elusive-pause-circled:before { content: '\e89b'; } /* 'î¢›' */
.icon-elusive-record:before { content: '\e89c'; } /* 'î¢œ' */
.icon-elusive-eject:before { content: '\e89d'; } /* 'î¢' */
.icon-elusive-backward:before { content: '\e89e'; } /* 'î¢ž' */
.icon-elusive-backward-circled:before { content: '\e89f'; } /* 'î¢Ÿ' */
.icon-elusive-fast-backward:before { content: '\e8a0'; } /* 'î¢ ' */
.icon-elusive-fast-forward:before { content: '\e8a1'; } /* 'î¢¡' */
.icon-elusive-forward:before { content: '\e8a2'; } /* 'î¢¢' */
.icon-elusive-forward-circled:before { content: '\e8a3'; } /* 'î¢£' */
.icon-elusive-step-backward:before { content: '\e8a4'; } /* 'î¢¤' */
.icon-elusive-step-forward:before { content: '\e8a5'; } /* 'î¢¥' */
.icon-elusive-target:before { content: '\e8a6'; } /* 'î¢¦' */
.icon-elusive-signal:before { content: '\e8a7'; } /* 'î¢§' */
.icon-elusive-desktop:before { content: '\e8a8'; } /* 'î¢¨' */
.icon-elusive-desktop-circled:before { content: '\e8a9'; } /* 'î¢©' */
.icon-elusive-laptop:before { content: '\e8aa'; } /* 'î¢ª' */
.icon-elusive-laptop-circled:before { content: '\e8ab'; } /* 'î¢«' */
.icon-elusive-network:before { content: '\e8ac'; } /* 'î¢¬' */
.icon-elusive-inbox:before { content: '\e8ad'; } /* 'î¢­' */
.icon-elusive-inbox-circled:before { content: '\e8ae'; } /* 'î¢®' */
.icon-elusive-inbox-alt:before { content: '\e8af'; } /* 'î¢¯' */
.icon-elusive-globe:before { content: '\e8b0'; } /* 'î¢°' */
.icon-elusive-globe-alt:before { content: '\e8b1'; } /* 'î¢±' */
.icon-elusive-cloud:before { content: '\e8b2'; } /* 'î¢²' */
.icon-elusive-cloud-circled:before { content: '\e8b3'; } /* 'î¢³' */
.icon-elusive-flight:before { content: '\e8b4'; } /* 'î¢´' */
.icon-elusive-leaf:before { content: '\e8b5'; } /* 'î¢µ' */
.icon-elusive-font:before { content: '\e8b6'; } /* 'î¢¶' */
.icon-elusive-fontsize:before { content: '\e8b7'; } /* 'î¢·' */
.icon-elusive-bold:before { content: '\e8b8'; } /* 'î¢¸' */
.icon-elusive-italic:before { content: '\e8b9'; } /* 'î¢¹' */
.icon-elusive-text-height:before { content: '\e8ba'; } /* 'î¢º' */
.icon-elusive-text-width:before { content: '\e8bb'; } /* 'î¢»' */
.icon-elusive-align-left:before { content: '\e8bc'; } /* 'î¢¼' */
.icon-elusive-align-center:before { content: '\e8bd'; } /* 'î¢½' */
.icon-elusive-align-right:before { content: '\e8be'; } /* 'î¢¾' */
.icon-elusive-align-justify:before { content: '\e8bf'; } /* 'î¢¿' */
.icon-elusive-list:before { content: '\e8c0'; } /* 'î£€' */
.icon-elusive-indent-left:before { content: '\e8c1'; } /* 'î£' */
.icon-elusive-indent-right:before { content: '\e8c2'; } /* 'î£‚' */
.icon-elusive-briefcase:before { content: '\e8c3'; } /* 'î£ƒ' */
.icon-elusive-off:before { content: '\e8c4'; } /* 'î£„' */
.icon-elusive-road:before { content: '\e8c5'; } /* 'î£…' */
.icon-elusive-qrcode:before { content: '\e8c6'; } /* 'î£†' */
.icon-elusive-barcode:before { content: '\e8c7'; } /* 'î£‡' */
.icon-elusive-braille:before { content: '\e8c8'; } /* 'î£ˆ' */
.icon-elusive-book:before { content: '\e8c9'; } /* 'î£‰' */
.icon-elusive-adjust:before { content: '\e8ca'; } /* 'î£Š' */
.icon-elusive-tint:before { content: '\e8cb'; } /* 'î£‹' */
.icon-elusive-check:before { content: '\e8cc'; } /* 'î£Œ' */
.icon-elusive-check-empty:before { content: '\e8cd'; } /* 'î£' */
.icon-elusive-asterisk:before { content: '\e8ce'; } /* 'î£Ž' */
.icon-elusive-gift:before { content: '\e8cf'; } /* 'î£' */
.icon-elusive-fire:before { content: '\e8d0'; } /* 'î£' */
.icon-elusive-magnet:before { content: '\e8d1'; } /* 'î£‘' */
.icon-elusive-chart:before { content: '\e8d2'; } /* 'î£’' */
.icon-elusive-chart-circled:before { content: '\e8d3'; } /* 'î£“' */
.icon-elusive-credit-card:before { content: '\e8d4'; } /* 'î£”' */
.icon-elusive-megaphone:before { content: '\e8d5'; } /* 'î£•' */
.icon-elusive-clipboard:before { content: '\e8d6'; } /* 'î£–' */
.icon-elusive-hdd:before { content: '\e8d7'; } /* 'î£—' */
.icon-elusive-key:before { content: '\e8d8'; } /* 'î£˜' */
.icon-elusive-certificate:before { content: '\e8d9'; } /* 'î£™' */
.icon-elusive-tasks:before { content: '\e8da'; } /* 'î£š' */
.icon-elusive-filter:before { content: '\e8db'; } /* 'î£›' */
.icon-elusive-gauge:before { content: '\e8dc'; } /* 'î£œ' */
.icon-elusive-smiley:before { content: '\e8dd'; } /* 'î£' */
.icon-elusive-smiley-circled:before { content: '\e8de'; } /* 'î£ž' */
.icon-elusive-address-book:before { content: '\e8df'; } /* 'î£Ÿ' */
.icon-elusive-address-book-alt:before { content: '\e8e0'; } /* 'î£ ' */
.icon-elusive-asl:before { content: '\e8e1'; } /* 'î£¡' */
.icon-elusive-glasses:before { content: '\e8e2'; } /* 'î£¢' */
.icon-elusive-hearing-impaired:before { content: '\e8e3'; } /* 'î££' */
.icon-elusive-iphone-home:before { content: '\e8e4'; } /* 'î£¤' */
.icon-elusive-person:before { content: '\e8e5'; } /* 'î£¥' */
.icon-elusive-adult:before { content: '\e8e6'; } /* 'î£¦' */
.icon-elusive-child:before { content: '\e8e7'; } /* 'î£§' */
.icon-elusive-blind:before { content: '\e8e8'; } /* 'î£¨' */
.icon-elusive-guidedog:before { content: '\e8e9'; } /* 'î£©' */
.icon-elusive-accessibility:before { content: '\e8ea'; } /* 'î£ª' */
.icon-elusive-universal-access:before { content: '\e8eb'; } /* 'î£«' */
.icon-elusive-male:before { content: '\e8ec'; } /* 'î£¬' */
.icon-elusive-female:before { content: '\e8ed'; } /* 'î£­' */
.icon-elusive-behance:before { content: '\e8ee'; } /* 'î£®' */
.icon-elusive-blogger:before { content: '\e8ef'; } /* 'î£¯' */
.icon-elusive-cc:before { content: '\e8f0'; } /* 'î£°' */
.icon-elusive-css:before { content: '\e8f1'; } /* 'î£±' */
.icon-elusive-delicious:before { content: '\e8f2'; } /* 'î£²' */
.icon-elusive-deviantart:before { content: '\e8f3'; } /* 'î£³' */
.icon-elusive-digg:before { content: '\e8f4'; } /* 'î£´' */
.icon-elusive-dribbble:before { content: '\e8f5'; } /* 'î£µ' */
.icon-elusive-facebook:before { content: '\e8f6'; } /* 'î£¶' */
.icon-elusive-flickr:before { content: '\e8f7'; } /* 'î£·' */
.icon-elusive-foursquare:before { content: '\e8f8'; } /* 'î£¸' */
.icon-elusive-friendfeed:before { content: '\e8f9'; } /* 'î£¹' */
.icon-elusive-friendfeed-rect:before { content: '\e8fa'; } /* 'î£º' */
.icon-elusive-github:before { content: '\e8fb'; } /* 'î£»' */
.icon-elusive-github-text:before { content: '\e8fc'; } /* 'î£¼' */
.icon-elusive-googleplus:before { content: '\e8fd'; } /* 'î£½' */
.icon-elusive-instagram:before { content: '\e8fe'; } /* 'î£¾' */
.icon-elusive-linkedin:before { content: '\e8ff'; } /* 'î£¿' */
.icon-elusive-path:before { content: '\e900'; } /* 'î¤€' */
.icon-elusive-picasa:before { content: '\e901'; } /* 'î¤' */
.icon-elusive-pinterest:before { content: '\e902'; } /* 'î¤‚' */
.icon-elusive-reddit:before { content: '\e903'; } /* 'î¤ƒ' */
.icon-elusive-skype:before { content: '\e904'; } /* 'î¤„' */
.icon-elusive-slideshare:before { content: '\e905'; } /* 'î¤…' */
.icon-elusive-stackoverflow:before { content: '\e906'; } /* 'î¤†' */
.icon-elusive-stumbleupon:before { content: '\e907'; } /* 'î¤‡' */
.icon-elusive-twitter:before { content: '\e908'; } /* 'î¤ˆ' */
.icon-elusive-tumblr:before { content: '\e909'; } /* 'î¤‰' */
.icon-elusive-vimeo:before { content: '\e90a'; } /* 'î¤Š' */
.icon-elusive-vkontakte:before { content: '\e90b'; } /* 'î¤‹' */
.icon-elusive-w3c:before { content: '\e90c'; } /* 'î¤Œ' */
.icon-elusive-wordpress:before { content: '\e90d'; } /* 'î¤' */
.icon-elusive-right:before { content: '\e887'; } /* 'î¢‡' */